!!! 5
html
  head
  div.container
  
    div.sixteen.columns.clearfix

      top
        h1 True Colors
        
      div#content.center
     

  script(type='text/template', id='color-template')
      span.black(style='background-color:black') <%= color %>
      span.white(style='background-color:white') <%= color %>