!!!
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1') 
    link(rel='stylesheet', href='/stylesheets/style.css')

  
    script(type='text/javascript', src='/javascripts/lib/1.jquery.min.js')
    script(type='text/javascript', src='/javascripts/lib/underscore.js')
    script(type='text/javascript', src='/javascripts/lib/backbone.js')
    script(type='text/javascript', src='/javascripts/lib/backbone-localstorage.js')
  
      
  body!= body

    script(type='text/javascript', src='/javascripts/colors.js')